<div class="parallax-container">
  <div class="parallax"><%= image_tag("example.gif", :alt => "matrix") %></div>
</div>



  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item caroseltwo white-text" href="#one!">
      <div class="row">
        <div>
          <a href="https://github.com/F1nalFortune/calculator" target="_blank"><%= image_tag('ruby_calc.png', :id =>"calc", :class => "") %></a>
        </div>
        <div>
          <p>a</p>
          <p>a</p>
        </div>
      </div>
    </div>
    <div class="carousel-item carosel white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item caroseltwo white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item carosel white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
        


<div class="parallax-container">
  <div class="parallax"><%= image_tag("example.gif", :alt => "matrix") %></div>
</div>