.orbitron{
  font-family: 'Orbitron', sans-serif;
}

.calc{
  height:300px;
  width:40% !important;
  float:right;
}

.carouselcolor{
  background-color:#dbdbdb;
}

.carouselcolorone{
  background-color:#404040;
}

.neon{
  color: #47d846;
}

#g{
  margin-bottom:0px;
}

.vertword{
  margin-top:0px;
  margin-bottom:0px;
}

.githublink{
  margin-top:50px;
}

.custom-background{
  background-image: url('terminal.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  background-color:black;
}