#g{
  margin-bottom:0px;
}

#thrive{
  height: 300px;
  width: 100%;
}

#hlink{
  text-align: left;
  margin-top: 4%;
  padding-left: 2%;
}



body{
  background-color:black;
}

.orbitron{
  font-family: 'Orbitron', sans-serif;
}


.parallax-container {
  height: 275px !important;
}

.image{
  height:300px;
  width:40% !important;
  float:right;
}

.icon{
  height:50px !important;
  width:50px !important;
}


.carouselcolor{
  background-color:#dbdbdb;
}

.carouselcolorone{
  background-color:#404040;
}

.neon{
  color: #47d846;
}


.vertword{
  margin-top:0px;
  margin-bottom:0px;
}

.targetlink{
  margin-top:50px;
}

.custom-background{
  background-image: url('terminal.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.leffft{
  margin-left:250px;
}