<ul id="slide-out" class="side-nav fixed">
  <li><div class="userView">
    <%= image_tag("canvas.png", :alt => "Promo Image", :class => "circle profpic responsive-image") %>
    <a href="#!name"><span class="black-text name">Brian</span></a>
    <a href="#!email"><span class="black-text email">phelpsb92@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With</a></li>
</ul>